---
- name: Create Kafka topics
  command: >
    {{ kafka_install_dir }}/bin/kafka-topics.sh
    --bootstrap-server {{ kafka_bootstrap_server }}
    --create
    --topic {{ item.name }}
    --partitions {{ item.partitions }}
    --replication-factor {{ item.replication_factor }}
  loop: "{{ kafka_topics }}"
  register: kafka_topic_create
  changed_when: "'Created topic' in kafka_topic_create.stdout"
  failed_when:
    - kafka_topic_create.rc != 0
    - "'TopicExistsException' not in kafka_topic_create.stderr"
  tags:
    - create_topics
