---
- name: Restart MySQL
  service:
    name: mysql
    state: restarted

- name: Reload systemd
  command: systemctl daemon-reload

- name: Enabling MySQL service
  service:
    name: mysql
    state: started
    enabled: true
