---
- name: Create PostgreSQL user
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ postgres_user }}"
    password: "{{ postgres_password }}"
    encrypted: yes
    role_attr_flags: LOGIN,CREATEDB

- name: Create database
  become: yes
  become_user: postgres
  postgresql_db:
    db: "{{ postgres_db }}"
    owner: "{{ postgres_user }}"

- name: Create tables
  become: yes
  become_user: postgres
  postgresql_query:
    db: "{{ postgres_db }}"
    query: "{{ lookup('file', 'create_mysql_logs.sql') }}"

- name: Grant default privileges on all sequences in public schema
  become: yes
  become_user: postgres
  postgresql_privs:
    db: "{{ postgres_db }}"
    roles: "{{ postgres_user }}"
    type: sequence
    objs: ALL_IN_SCHEMA
    schema: public
    privs: USAGE,SELECT,UPDATE
  when: postgres_user is defined and postgres_db is defined
